body {
	text-align: center;
	font-family: sans-serif;
}

#alert {
	display: none;
	z-index: 10;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px 0;
	background: cornflowerblue;
	color: white;

	&.success {
		background: limegreen;
	}

	&.error {
		background: crimson;
	}

	&.clickable {
		cursor: pointer;
	}
}

// Default gradient
#gradient {
	background-image: linear-gradient(
		to right,
		rgb(255, 202, 0) 10%,
		rgb(255, 229, 128),
		rgb(0, 255, 223),
		rgb(255, 0, 244),
		rgb(255, 128, 249) 90%
	);
}