$breakpoint: 70rem;

html {
	-webkit-font-smoothing: antialiased;
	font-size: 1.25em;
	font-family: Inconsolata, monospace;
	background: #333 url(img/stripes.png);
	color: white;
	min-height: 100%;
}

body {
	position: relative;
}

hr {
	border: none;
	border-top: 3px solid rgba(0, 0, 0, 0.1);
	margin: 1rem 0;
}

header {
	position: relative;
	padding: 1rem 1.5rem;
	background-color: black;

	paper-icon-button {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
	}
}

paper-tabs {
	font-size: 0.8rem;
	background: rgba(black, 0.5);

	@media screen and (min-width: $breakpoint) {
		display: none !important;
	}
}

paper-radio-button,
paper-radio-group {
	display: block;
}

paper-radio-group {
	background: white;
	padding: 0.5rem;

	@media screen and (min-width: $breakpoint) {
		display: flex;
		flex-wrap: wrap;
	}
}

paper-radio-button {
	box-sizing: border-box;

	@media screen and (min-width: $breakpoint) {
		width: 50%;
	}
}

iron-pages {
	margin: 0 1rem 1rem;

	@media screen and (min-width: $breakpoint) {
		display: flex;
		align-items: center;

		> div {
			box-sizing: border-box;
			width: 50%;
		}

		.page-1 {
			padding: 0 3rem;
		}

		.page-2 {
			padding: 0 1.5rem;
		}

		> :not(.iron-selected) {
			display: block !important;
		}
	}
}

paper-toast {
	font-family: sans-serif;
	z-index: 1;

	a { color: gold; }
}

paper-dialog {
	position: fixed;
	max-width: 400px;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
}

// --- Background Gradient ---

.gradient {
	z-index: -1;
	opacity: 0.66;
	-webkit-filter: blur(75px);
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 30%;
	left: 0;
	will-change: transform;
	transform-origin: top left;
	background-color: #333;

	@media screen and (min-width: $breakpoint) {
		display: block;
	}
}

// -- Wheel ---

.wheel svg {
	width: 100%;
	height: 410px;
}

.wheel__marker text { text-shadow: 1px 2px 10px #000; }

// -- Switches ---

.controls {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1.5rem;

	hr { width: 100%; }
}

.switches { flex: 1; }

.switch {
	box-sizing: border-box;
	position: relative;
	height: 50px;
	margin-bottom: 1.5rem;

	b {
		font-weight: normal;
		margin-left: 15px;
	}
}

.switch__toggle {
	cursor: pointer;
	position: absolute;
	top: 23px;
	right: -15px;
}

.switch__slider {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 85%;
}

.theme__swatch {
	cursor: move;
	cursor: -webkit-grabbing;
	width: 45px;
	height: 45px;
	padding-bottom: 5px;
	margin: 0 0 1.5rem 0;
}

.theme__color {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.sortable-ghost .theme__color {
	background-color: transparent !important;
	box-shadow: none;
}

.switches.off {
	opacity: 0.5;
	width: 100%;
	flex: none;
}