// Base

* {
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	height: 100%;
}

body {
	position: relative;
	height: 100%;
	padding: 20px;
	font-family: Inconsolata, monospace;
	background: url(img/stripes.png);
	color: white;
}


// Components

.alert {
	display: none;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px 20px;
	background: cornflowerblue;
	color: white;
}

.alert--success {
	background: limegreen;
}

.alert--error {
	background: crimson;
}

.alert--clickable {
	cursor: pointer;
}

.gradient {
	z-index: -1;
	opacity: 0.5;
	-webkit-filter: blur(5px);
	// filter: url(#blur);
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	transform: scale(26) translateZ(0);
	transform-origin: top left;
	background-color: #999;
}

.wheel {
	width: 400px;
	height: 400px;
	margin: 0;
}

.wheel__marker {
	&:first-child circle {
		stroke-opacity: 1;
		stroke-width: 5px;
	}

	text {
		text-shadow: 1px 2px 10px #000;
	}
}

.scaffold {
	display: flex;
	justify-content: center;
	min-height: 100%;
	padding: 80px 0;
}

.scaffold__left {
	overflow: hidden;
	width: 400px;
	background: rgba(black, 0.2);
	margin-right: 20px;
	padding-bottom: 20px;
}

.scaffold__right {
	width: 400px;
	padding: 20px;
	background: rgba(black, 0.2);
}

.switches td {
	height: 40px;

	&:nth-child(2) {
		width: 100%;
	}
}

.switch__toggle::shadow .toggle-ink {
	color: white;
}

.switch__toggle::shadow .toggle-button {
	cursor: pointer;
}

.switch__slider {
	width: 100%;

	&::shadow #sliderKnob {
		cursor: pointer;
	}
}

.swatches {
	float: left;
}

.swatch {
	cursor: move;
	width: 10px;
	height: 10px;
	margin: 16px 15px 30px 0;
	border-radius: 1px;
	transition: background-color 0.1s linear;
}

.mode-toggler {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 40px;

	label {
		display: block;
		width: 50%;
	}

	input {
		margin-right: 5px;
	}
}

.theme {
	float: left;
}

.theme__swatch {
	cursor: move;
	cursor: -webkit-grabbing;
	width: 30px;
	height: 40px;
	margin-left: -10px;
	padding: 15px 10px 0 10px;
}

.theme__color {
	width: 10px;
	height: 10px;
}

.sortable-ghost .theme__color {
	background-color: black !important;
}