/* line 3, style.scss */
* { box-sizing: border-box; }

/* line 7, style.scss */
html { -webkit-font-smoothing: antialiased; min-height: 100%; height: 100%; }

/* line 13, style.scss */
body { position: relative; height: 100%; padding: 20px; font-family: Inconsolata, monospace; background: url(img/stripes.png); color: white; }

/* line 25, style.scss */
.alert { display: none; z-index: 10; position: fixed; top: 0; left: 50%; transform: translateX(-50%); padding: 5px 20px; background: cornflowerblue; color: white; }

/* line 37, style.scss */
.alert--success { background: limegreen; }

/* line 41, style.scss */
.alert--error { background: crimson; }

/* line 45, style.scss */
.alert--clickable { cursor: pointer; }

/* line 49, style.scss */
.gradient { z-index: -1; opacity: 0.5; -webkit-filter: blur(5px); display: block; position: fixed; top: 0; left: 0; width: 50px; height: 50px; transform: scale(26) translateZ(0); transform-origin: top left; background-color: #999; }

/* line 65, style.scss */
.wheel { width: 400px; height: 400px; margin: 0; }

/* line 72, style.scss */
.wheel__marker:first-child circle { stroke-opacity: 1; stroke-width: 5px; }
/* line 77, style.scss */
.wheel__marker text { text-shadow: 1px 2px 10px #000; }

/* line 82, style.scss */
.scaffold { display: flex; justify-content: center; min-height: 100%; padding: 80px 0; }

/* line 89, style.scss */
.scaffold__left { overflow: hidden; width: 400px; background: rgba(0, 0, 0, 0.2); margin-right: 20px; padding-bottom: 20px; }

/* line 97, style.scss */
.scaffold__right { width: 400px; padding: 20px; background: rgba(0, 0, 0, 0.2); }

/* line 103, style.scss */
.switches td { height: 40px; }
/* line 106, style.scss */
.switches td:nth-child(2) { width: 100%; }

/* line 111, style.scss */
.switch__toggle::shadow .toggle-ink { color: white; }

/* line 115, style.scss */
.switch__toggle::shadow .toggle-button { cursor: pointer; }

/* line 119, style.scss */
.switch__slider { width: 100%; }
/* line 122, style.scss */
.switch__slider::shadow #sliderKnob { cursor: pointer; }

/* line 127, style.scss */
.swatches { float: left; }

/* line 131, style.scss */
.swatch { cursor: move; width: 10px; height: 10px; margin: 16px 15px 30px 0; border-radius: 1px; transition: background-color 0.1s linear; }

/* line 140, style.scss */
.mode-toggler { display: flex; flex-wrap: wrap; padding: 20px 40px; }
/* line 145, style.scss */
.mode-toggler label { display: block; width: 50%; }
/* line 150, style.scss */
.mode-toggler input { margin-right: 5px; }

/* line 155, style.scss */
.theme { float: left; }

/* line 159, style.scss */
.theme__swatch { cursor: move; cursor: -webkit-grabbing; width: 30px; height: 40px; margin-left: -10px; padding: 15px 10px 0 10px; }

/* line 168, style.scss */
.theme__color { width: 10px; height: 10px; }

/* line 173, style.scss */
.sortable-ghost .theme__color { background-color: black !important; }
